.home {
    display: flex;
    margin-top: 40px;
}

.home .half {
    width: 50%;
}

.home .left {
    padding: 0 5rem;
    padding-top: calc(100vh / 3.5);
}

.home .left h1 {
    font-size: 3.5rem;
}

.home .left p {
    font-size: 1.2rem;
}

.home .half img {
    width: 75%;
}
