header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style: none;
    margin-top: 12px;
}

header nav ul li a {
    padding: 12px 7px;
    margin-right: 10px;
    text-decoration: none;
    color: darkslategray;
    border-bottom: 3px solid lightgrey;
    text-transform: uppercase;
}

header nav ul li a:hover {
    color: darkslategray;
    border-bottom: 3px solid darkslategray;
}
